.variant { display: none }
.has-variant .variant { display: inline }

.ql-snow svg
  vertical-align: initial
.ql-container
  font-size: 1em
.ql-tool
  position: sticky
  top: 0
  background: #fff
  z-index: 1
.ql-editor
  min-height: 10em
