div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit.position-relative
      div(ld="input")
      .d-flex: .p-1.text-danger.rounded(ld-each="error")
    .m-view.position-relative.ql-container.ql-snow
      .border.rounded-sm.p-2.ql-editor(ld="content")
